@use './variables';


@use './font';
@use './form';
@use './table';
@use './misc';
@use './layout';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: variables.$background-color;
    padding: 1rem;
}